<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to poolstack, <%= @user.full_name %></h1>
    <p>
      You have successfully sending a message,
      your email is: <%= @user.email %>.<br>
    </p>
    
    <p>Thanks for contacting us, have a great day!</p>
  </body>
</html>
