
<h1>Welcome to Poolstack Website, <%= @user.full_name %>!</h1>

<p>Thank you for Connecting with us. We're glad to have you on board!</p>

<p>If you have any questions, feel free to contact us.</p>

<p>Best regards,<br>
  The Poolstack Team</p>
